<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <h1>Create</h1>
    <form id="form" th:action="@{/city/create}" method="post" th:object="${city}">
        <label>CityName:
            <input type="text" th:field="*{cityName}" required>
        </label>
        <label>Country:
            <select th:field="*{country}">
                <option th:each="c : ${countries}" th:value="${c.getId()}" th:text="${c.getName()}"></option>
            </select>
        </label>
        <label>Area:
            <input type="text" th:field="*{area}" required>
        </label>
        <label>Population:
            <input type="text" th:field="*{population}" required>
        </label>
        <label>GDP:
            <input type="text" th:field="*{gdp}" required>
        </label>
        <label>Description:
            <input type="text" th:field="*{description}" required>
        </label>

        <button type="submit">Create</button>
    </form>
    <a th:href="@{/city}">Back to home</a>
</body>
</html>